langchain
pandas
numpy
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-openai
langchain_groq
uvicorn
pypdf 
pymupdf
python-dotenv
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
jq
matplotlib
chromadb